body {
    background: white url("../images/body_bg.png") repeat-x;
}

.wrapper {
    width: 960px;
    margin: 0px auto;
}

.wrapper-top {
    height: 30px;
}

.wrapper-top ul li {
    display: inline;
    color: white;
    font-size: 14px;
    line-height: 30px;
}

.wrapper-top ul li a {
    text-decoration: none;
}

.wrapper-top ul.wrapper-top-left {
    float: left;
}

.wrapper-top .wrapper-top-left li {
    padding: 0px 10px;
}

.wrapper-top ul.wrapper-top-right {
    float: right;
}

.wrapper-top ul.wrapper-top-right img {
    margin-left: 4px;
}

.wrapper-top-right-mobile {
    background: url("../images/top_ico.png") no-repeat 8px -20px;
    padding: 0px 4px 0px 34px;
}

.wrapper-top-right-chat {
    background: url("../images/top_ico.png") no-repeat 8px -50px;
    padding: 0px 4px 0px 44px;
}

.wrapper-header {
    width: 960px;
    height: 100px;
    text-align: center;
    background: url("../images/header_bg.png") no-repeat;
}

.wrapper-header-left {
    background: url("../images/shopping_bg.png") no-repeat;
    padding: 0px 76px;
    float: left;
    height: 100px;
}

.wrapper-header-left a {
    color: #ffc200;
    font-size: 14px;
    border-width: 1px;
    border-radius: 9px;
    background: #b20e00;
    padding: 0px 10px;
    display: inline-block;
    margin-top: 8px
}

p#wrapper-header-items {
    margin-top: 24px;
    color: white;
    font-size: 20px;
}

.wrapper-header-right-form {
    float: right;
    width: 293px;
    margin-top: 30px;
    background: url("../images/search.png") no-repeat;
}

#wrapper-header-search-text {
    width: 232px;
    height: 30px;
    background: none;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    vertical-align: middle;
}

#wrapper-header-search-go {
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    vertical-align: middle;
}

.wrapper-nav {
    height: 44px;
}

.wrapper-nav ul {
    text-align: center;
}

.wrapper-nav ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-top: 8px;
    margin-left: 10px;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
}

.wrapper-header-selected {
    background: url("../images/nav_active_bg.png") repeat-x 0px -56px;
}

.wrapper-container {
    width: 940px;
    float: left;
    border-radius: 30px 30px 0px 0px;
    background: white;
    margin-top: 18px;
    padding: 10px;
    border-style:solid ;
    border-width: 1px;
    border-bottom: none;
    border-color: #e1e1e1;
}

.wrapper-container-banner {
    height: 300px;
    position: relative;
    background: url("../images/1.png") no-repeat;
}

.wrapper-container-banner-bottom {
    width: 940px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    background: black;
    padding: 10px 0px;
}

.wrapper-container-banner-bottom h2 {
    width: 269px;
    color: #ffc600;
    float: left;
}

.wrapper-container-banner-bottom p {
    width: 670px;
    float: left;
    font-size: 12px;
    text-align: left;
    color: white;
}

.wrapper-container-product{
    margin-top: 30px;

}

.wrapper-container-product-left {
    width: 209px;
    float: left;
    text-align: center;
}

.wrapper-container-product-left p{
    width: 209px;
    height: 27px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-weight: bold;
    padding-top: 3px;
    background: url("../images/module_menu_bg.gif") repeat-x 0px -58px;
}

.wrapper-container-product-left ul{
    background: #ffeeb7;
    text-decoration: none;
    text-align: left;
    padding: 10px 12px;
}

.wrapper-container-product-left ul li{
    list-style: none;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.wrapper-container-product-left ul li a{
}

.wrapper-container-product-left ul li a:link{
    color: black;
}

.wrapper-container-product-left ul li a:active{
    color: black;
}

.wrapper-container-product-left ul li a:visited{
    color: black;
}

.wrapper-container-product-right {
    background: blue;
    float: left;
    margin-left: 27px;
}

.wrapper-search {

}

.wrapper-footer {

}